{
  "presets": ["es2015", "stage-0"],
  "plugins": ["transform-runtime"],
  "env": {
    "coverage": {
      "plugins": [
        "babel-plugin-espower",
        ["istanbul", {
          exclude: "js_test/**/*.js"
        }],
        "rewire"
      ]
    },
    "test": {
      "plugins": [
        "babel-plugin-espower",
        "rewire"
      ]
    }
  }
}
