:root {
  --page-sub-title-font-size: 1.2rem;
}
.navbar {
  height: 40px;
}
.navbar-brand {
  font-size: 1rem;
}
.page-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.navbar-default {
  border-bottom: 1px solid #dadada;
  background-color: #fafafa;
}
a {
  color: #0044a0;
}
.additional {
  color: #aaa;
  font-size: small;
}
